html{
        font-family: sans-serif;
}

body{ 
    background: linear-gradient(#cdffcb,#61c05c) ;

    color:#092208;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    max-width: 1280px;
    width: 80%;
    height: 100%;
}

header {
    background-color:#092208;
    color: #61c05c;
}


p {
    text-indent: 1em;
    text-align: center;
}

h1  {
    font-size: 1.8rem;
    text-align: center;
    display: inline;
    padding: 1em;
}

h2{
    font-size: 1.4rem;
    text-align: center;
    display: inline;

}

h3{
    font-size: 1.2rem;
    text-align: center;
}

a:link{
    color: #007544;
    font-weight: bold;
}

a:visited {
    color: rgb(82, 0, 82);
    font-weight: normal;
}

a:hover {
    background-color: white;
    color: #1f295c;
}

abbr    {
    font-family: small-caps;    
}

.summary {
    text-align: center;
    line-height: 1.5rem;
}

footer {
    margin: 4%;
    text-align: center;


    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    
}
footer a{
    border: 2px solid;
    padding: 0.5em;
    margin: 10px;
    color: rgb(8, 50, 128);
}

.page-wrapper {

    position: relative;
}

.intro {
    height: 550px;
    
}

#design-archives {
    display: none;
}

.zen-resources {

}

li {
    list-style-type: none;   
    padding: 1em;
    text-align: center;
}

.explanation {
    width: 60%;
    margin-right: 35%;
    border-right: 1px solid #1f295c;
    padding-right: 2%;
    padding-top: 8.5%;
    padding-bottom: 8.5%;
    
}

.design-selection li {
    border-top: 1px solid #1f295c;
}

.design-selection{
    position: absolute;
    top: 500px;
    left: 62%;
    padding: 2%;
    bottom: 105px;
}

.design-selection li:last-child {
    border-bottom: 1px solid #1f295c;
}

.main-supporting .explanation :nth-child(2)::first-letter{
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    float: left;
}


.benefits {
    display: flex;
    
    flex-grow: 1;
    flex-flow: wrap;
}

.benefits h3{
    text-align: left;

    
}

.benefits p {

    text-align: right;

}